In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('/Users/jasimrashid/Downloads/test.csv')

id       1
a        1
b       15
 c    blue
d        1
Name: 0, dtype: object

In [5]:
from pandas import read_csv

In [6]:
read_csv('/Users/jasimrashid/Downloads/test.csv')

   id   a   b       c  d
0   1   1  15    blue  1
1   2  14   1   green  0
2   3  16  11   apple  1
3   4  12   1  orange  0
4   5   6  17     bob  1
5   6   1  12   scott  0
6   7   7  20    good  1
7   8  12  14     bad  0
8   9  20   7    blue  1
9  10  20  15   green  0